<div class="aside left am-slide-left" tabindex="-1" role="dialog" style="display:block; width:100%" ng-controller="aceChatController">
    <div class="aside-dialog">
        <div class="aside-content">
            <!-- header -->
            <div class="aside-header" ng-show="activeId">
                <button type="button" class="close" ng-click="$hide();">
                  ×
                </button>
                <h4 class="aside-title" ng-show="activeId">
                	临时聊天窗口
                </h4>
            </div>
            <!-- activeContent -->
            <section class="active-chat">

                <div>
                    <div class="chat-stream" ng-repeat="item in chatContent">
                        <!-- 用户信息 -->
                        <div ng-class="{'self':item.userid==from}" ng-if="item.kind==1">
                            <div>
                                <span class="user-img">
                                    <img ng-src="upload/user/{{item.userImg}}"/>
                                </span>
                                <span class="user-name">{{item.userName}}</span>
                            </div>
                        </div>
                        <!-- 系统信息 -->
                        <div class="sever-msg" ng-if="item.kind!=1">
                            <p>{{item.msg}}</p>
                        </div>
                    </div>
                </div>

                </div>
            </section>
            <div class="input-group chatSend">
                  <input type="text" class="form-control" ng-model="content2Send" placeholder="input to chat" aria-describedby="send">
                  <span class="input-group-addon" id="send" ng-click="sendChat()">发送</span>
            </div>
        </div>

        <style>
            /*.wrap{margin:0 auto;max-width: 640px;min-width: 320px;position: relative;height:100%}
            .wrap img{width: 100%}*/

            html{height: 100%}
            .chatSend{position: fixed;bottom: 0;}
            .active-chat{background:#f5f5f5;position: absolute;top:1rem;bottom: 0px;left: 0px;width:100%;overflow:scroll;padding-bottom:1.2rem}
            p{margin: 0}

            .chat-stream{position:relative;padding: .2rem;margin-top:.2rem}

            .chat-stream .user-img img{width:.7rem;height:.7rem;border-radius:50%;}
            .chat-stream .chat-msg:before{content: "";width: .3rem;height: .3rem;display: block;position: absolute;top: -.3rem;left: .2rem;border: .15rem solid white;border-top-color: transparent;border-right-color: transparent;border-left-color: transparent;}
            .chat-stream .chat-msg {text-align: left;display: inline-block;background: white;padding: .2rem;top: .25rem;position: relative;border-radius: .1rem;}

            .chat-stream .self{text-align: right}
            .chat-stream .self .user-name{-webkit-order:1}
            .chat-stream .self .user-img{-webkit-order:2}
            .chat-stream .self .chat-msg:before {border-bottom-color:#6EE26D;left:auto;right:.2rem}
            .chat-stream .self .chat-msg {background:#6EE26D}

            .chat-stream .sever-msg{width: 60% ;text-align: center;left: 50%;position: relative;transform: translateX(-50%);background: rgba(0, 0, 0, 0.25);padding: .05rem .5rem;border-radius: .1rem;color: white;}
        </style>
    </div>
</div>
