


<div class="aside left am-slide-left" tabindex="-1" role="dialog" style="display:block; width:100%" ng-controller="actDetailController">
    <div class="aside-dialog">
        <div class="aside-content">
            <!-- header -->
            <div class="aside-header" ng-show="item">
                <button type="button" class="close" ng-click="$hide();">
                  ×
                </button>
                <h4 class="aside-title" ng-show="item">
                	{{item.topic}}
                </h4>
            </div>
            <!-- activeContent -->
            <section class="active-detail">
                <div class="banner">
                    <div>
                        <img ng-src="upload/activeBanner/{{item.imgName}}"/>
                    </div>
                    <div>{{item.topic}}</div>
                </div>

                <div class="creator">
                    <ul>
                        <li>{{item.account}}</li>
                        <li>{{item.gender}}</li>
                        <li>{{item.count}}</li>
                    </ul>
                </div>

                <div class="location">{{item.address}}{{item.distance}}</div>

                <div class="member">
                    <div>
                        <span class="members_count">{{item.whoIn.length}}</span>
                        <span class="members_icons" ng-repeat="user in item.whoIn"><img ng-src="upload/user/{{user}}"/></span>
                    </div>
                    <a href="#">在线聊天</a>
                </div>

                <div class="profie">
                    {{item.profile}}
                </div>
            </section>
            <!-- footer -->
            <div class="active-detail-footer">
                {{item.coust}}
            </div>

        </div>
    <style type="text/css">


    </style>
    </div>
</div>
