
<div class="aside left am-slide-left" tabindex="-1" role="dialog" style="display:block; width:100%" ng-controller="loginSignUpController">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="oContent">
        <button type="button" class="close" ng-click="$hide()">
          ×
        </button>
        <h4 class="aside-title" ng-show="flag">
        	{{oContent.title}}
        </h4>
        <h4 class="aside-title" ng-show="!flag">
        	{{oContent.title2}}
        </h4>

      </div>

      <div class="aside-body" ng-show="oContent">
      	<!-- Login -->
      	<form class="form-signin" id="loginForm" ng-show="flag">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <input type="tel" name="id" id="inputTel" class="form-control" placeholder="Email address" ng-model="formData.id" required>
	        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="formData.password" required>

	        <div class="checkbox">
	          <label>
	            <input type="checkbox" value="remember-me">Remember me
	          </label>
	        </div>
	        <button class="btn btn-lg btn-primary btn-block" ng-click="fnSubmit('login')">Sign in</button>
	        <a href="javascript:;" ng-click="fnChange(2)">to sign up</a>
      	</form>
	<!-- Sign up -->
      	<form class="form-signin" id="signupForm" ng-show="!flag">
	        <h2 class="form-signin-heading">Please sign up</h2>
	        <input type="tel" name="id" id="inputTel" class="form-control" placeholder="Email address" ng-model="formData2.id" required>
	        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="formData2.password" required>
	        <input type="password" name="confirm" id="inputPassword" class="form-control" placeholder="Password" ng-model="formData2.confirm" required>
	       
	        <button class="btn btn-lg btn-primary btn-block" ng-click="fnSubmit('signup')">Sign Up</button>
	        <a href="javascript:;" ng-click="fnChange(1)">to login</a>
      	</form>

      </div>
      
      <div class="aside-footer">
        
      </div>
    </div>
  </div>
  <style type="text/css">
	.form-signin {
	  max-width: 330px;
	  padding: 15px;
	  margin: 0 auto;
	}
	.form-signin .form-signin-heading,
	.form-signin .checkbox {
	  margin-bottom: 10px;
	}
	.form-signin .checkbox {
	  font-weight: normal;
	}
	.form-signin .form-control {
	  position: relative;
	  height: auto;
	  -webkit-box-sizing: border-box;
	     -moz-box-sizing: border-box;
	          box-sizing: border-box;
	  padding: 10px;
	  font-size: 16px;
	}
	.form-signin .form-control:focus {
	  z-index: 2;
	}
	.form-signin input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.form-signin input[type="password"] {
	  margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
</style>
</div>